.fedoraproject.org
mirrors.rockylinux.org
ftp.riken.jp
ftp.iij.ad.jp
ftp.jaist.ac.jp
ftp.udx.icscoe.jp
mirror.nishi.network
mirror-nrt.yuki.net.uk
mirror-icn.yuki.net.uk
repo.jing.rocks
rocky-linux-asia-southeast1.production.gcp.mirrors.ctrliq.cloud
rocky-linux-asia-southeast2.production.gcp.mirrors.ctrliq.cloud
rocky-linux-asia-northeast1.production.gcp.mirrors.ctrliq.cloud
rocky-linux-asia-northeast2.production.gcp.mirrors.ctrliq.cloud
rocky-linux-asia-south1.production.gcp.mirrors.ctrliq.cloud
rocky-linux-asia-south2.production.gcp.mirrors.ctrliq.cloud
epel.sg.ssimn.org
repo.extreme-ix.org
mirrors.thzhost.com
mirror.upsi.edu.my
mirror.citrahost.com
repo2.shinjiru.com
mirrors.qlu.edu.cn
mirrors.tuna.tsinghua.edu.cn
ftp.kaist.ac.kr
mirror.dimensi.cloud
